<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <hr style="background-color: #fff; margin: 1rem" />
        <h1 class="text-center">Assistência de Alunos</h1>
        <div class="responsive-table">
          <%- include('includes/formBuscaEstudante')%>
          <hr />
          <p class="text-center lead">Ocorrências Registradas</p>
          <form action="/administracao/ocorrencias" method="POST">
            <input
              type="text"
              name="codigo_servidor"
              value="<%= codigo_servidor%>"
              hidden
            />
            <input type="text" name="senha" value="<%= senha%>" hidden />
            <button class="btn button btn-info small">Ver</button>
          </form>
          <hr style="background-color: #fff; margin: 1rem" />
          <form action="/administracao/login">
            <button class="btn button btn-dark">Voltar</button>
          </form>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>

<%- include('includes/footer');%>
