<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-10 my-3">
      <h1 class="text-center">Sistema Integrado de Segurança</h1>
      <p class="text-center lead">Registre o curso abaixo.</p>

      <form action="/cadastro/horarioestudantesalvo" method="POST">
        <div class="form-group">
          <label>Nome do Estudante</label>
          <select name="id_estudantes" class="form-control">
            <% estudantes.forEach( estudante => { %>
              <option value="<%= estudante.id %>"><%= estudante.nome_estudante %>, <%= estudante.cpf%>, <%= estudante.ra%></option>
            <% });%>
          </select>
          <label>Disciplina</label>
          <select name="id_horarios" class="form-control">
            <% horarios.forEach( horario => { %>
              <option value="<%= horario.id %>"><%= horario.nome_disciplina%>, <%= horario.turma %>, <%= horario.periodo %>, <%= horario.dia_semana%>, <%= horario.tempo_inicio%>° Tempo até o <%= horario.tempo_fim%>° Tempo</option>
            <% });%>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Salvar Curso</button>
        <hr>
      </form>
      <hr>
      <form action="/cadastro">
        <button class="btn btn-dark">Voltar</button>
      </form>
    </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
