<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 my-3">
        <h1 class="text-center">Registre o Estudante</h1>
        <p class="text-center lead">
          Formulário para inserção no banco de dados.
        </p>
        <br>
        <form
          action="/cadastro/estudantesalvo"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <input
              type="text"
              name="codigo_servidor"
              value="<%= codigo_servidor%>"
              hidden
            />
            <input type="text" name="senha" value="<%= senha%>" hidden />
            <br />
            <label>Nome do Estudante</label>
            <input
              type="text"
              class="form-control"
              name="nome_estudante"
              autocomplete="off"
              placeholder="Nome Completo"
              required
            />
            <label>Email Institucional</label>
            <input
              type="email"
              class="form-control"
              name="email_institucional"
              autocomplete="off"
              placeholder="Ex.: nome.sobrenome@estudante.ifms.edu.br"
              required
            />
            <label>CPF</label>
            <input
              type="text input"
              class="form-control"
              name="cpf"
              placeholder="Ex.: 000.000.000-00"
              autocomplete="off"
              onblur="formataCPF(this)"
              required
            />
            <label>RA</label>
            <input
              type="text"
              class="form-control"
              name="ra"
              autocomplete="off"
              placeholder="Ex.: 123456"
              required
            />
            <label>Nome do Responsável</label>
            <input
              type="text"
              class="form-control"
              name="nome_responsavel"
              placeholder="Nome Completo do Responsável"
              required
              autocomplete="off"
            />
            <label>Email do Responsável</label>
            <input
              type="email"
              class="form-control"
              name="email_responsavel"
              placeholder="Ex.: responsavel@gmail.com"
              required
              autocomplete="off"
            />
            <label>Telefone do Responsável</label>
            <input
              type="tel"
              class="form-control"
              name="telefone_responsavel"
              onblur="formataTelefone(this)"
              placeholder="Ex.: (67)90000-0000"
              required
              autocomplete="off"
            />
            <label>Nome do Curso</label>
            <input
              type="text"
              class="form-control"
              name="nome_curso"
              placeholder="Nome do Curso"
              required
              autocomplete="off"
            />
            <label>Foto do estudante</label>
            <input type="file" name="avatar" class="form-control" required />
            <button type="submit" class="btn button btn-success">
              Salvar Estudante
            </button>
          </div>
          <hr />
        </form>
        <form action="/cadastro" method="post">
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-dark">Voltar</button>
        </form>
        <hr />
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
