<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <hr style="background-color: #fff; margin: 1rem" />
        <h1 class="text-center">Horários</h1>
        <% if(repetir.length > 1){%>
        <div class="responsive-table">
          <table class="table my-3" color>
            <tr align="center">
              <td>Id</td>
              <td>Nome</td>
              <td>CPF</td>
              <td>RA</td>
              <td>Foto</td>
            </tr>
            <% repetir.forEach(estudante => { %>
            <tr class="vertical-align-center" align="center">
              <td><%= estudante.id%></td>
              <td><%= estudante.nome_estudante%></td>
              <td><%= estudante.cpf%></td>
              <td><%= estudante.ra%></td>
              <td><img src="<%= estudante.foto%>" height="60" /></td>
            </tr>
            <tr>
              <td colspan="5">
                <form action="/administracao/horarios" method="post">
                  <input
                    type="text"
                    name="ra"
                    value="<%= estudante.ra%>"
                    hidden
                  />
                  <input
                    type="text"
                    name="cpf"
                    value="<%= estudante.cpf%>"
                    hidden
                  />
                  <input
                    type="text"
                    name="nome"
                    value="<%= estudante.nome_estudante%>"
                    hidden
                  />
                  <input
                    type="text"
                    name="codigo_servidor"
                    value="<%= codigo_servidor%>"
                    hidden
                  />
                  <input type="text" name="senha" value="<%= senha%>" hidden />
                  <button class="btn button btn-info">Selecionar</button>
                </form>
              </td>
            </tr>
            <% }); %>
          </table>
        </div>
        <form action="/administracao/paginainicial" method="post">
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-dark">Voltar</button>
        </form>
        <% }else if (horarios.length > 0){ %>
        <div class="form-group" align="center">
          <label>--- Nome do Estudante ---</label>
          <input
            type="text"
            class="form-control"
            value="<%= horarios[0].nome_estudante%>"
            disabled
            style="text-align: center"
          />
        </div>
        <div class="responsive-table">
          <table class="table">
            <tr align="center">
              <td><b>DISCIPLINA</b></td>
              <td><b>PERÍODO</b></td>
              <td><b>DIA DA SEMANA</b></td>
              <td><b>INÍCIO</b></td>
              <td><b>FIM</b></td>
            </tr>

            <% horarios.forEach(horario => { %>
            <tr align="center">
              <% ra = horario.ra%>
              <td><%= horario.nome_disciplina%></td>
              <td><%= horario.periodo_horarios%></td>
              <td><%= horario.dia_semana%></td>
              <td><%= horario.tempo_inicio%>° Tempo</td>
              <td><%= horario.tempo_fim%>° Tempo</td>
            </tr>
            <% }); %>
          </table>
        </div>
        <hr style="background-color: #fff; margin: 1rem" />
        <form action="/administracao/responsavel" method="POST">
          <input type="text" name="ra" value="<%= ra%>" hidden />
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-danger" style="margin: 0">
            Advertências
          </button>
        </form>
        <hr style="background-color: #fff; margin: 1rem" />
        <p class="text-center lead">Requisições para Liberação</p>
        <form action="/administracao/requisicoes" method="POST">
          <input type="text" name="ra" value="<%= ra%>" hidden />
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-info small">Ver</button>
        </form>
        <hr style="background-color: #fff; margin: 1rem" />
        <form action="/administracao/paginainicial" method="post">
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-dark">Voltar</button>
        </form>
        <% } else { %> <%let ra;%> <% repetir.forEach(estudante => { %> <% ra =
        estudante.ra%> <% }); %>
        <p class="text-center lead">
          Insira um aluno válido ou adicione horários a este aluno.
        </p>
        <% if(ra){%>
        <hr style="background-color: #fff; margin: 1rem" />
        <form action="/administracao/responsavel" method="POST">
          <input type="text" name="ra" value="<%= ra%>" hidden />
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-danger" style="margin: 0">
            Advertências
          </button>
        </form>
        <hr style="background-color: #fff; margin: 1rem" />
        <p class="text-center lead">Requisições para Liberação</p>
        <form action="/administracao/requisicoes" method="POST">
          <input type="text" name="ra" value="<%= ra%>" hidden />
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-info small">Ver</button>
        </form>
        <%}%>
        <hr style="background-color: #fff; margin: 1rem" />
        <form action="/administracao/paginainicial" method="post">
          <input
            type="text"
            name="codigo_servidor"
            value="<%= codigo_servidor%>"
            hidden
          />
          <input type="text" name="senha" value="<%= senha%>" hidden />
          <button class="btn button btn-dark">Voltar</button>
        </form>
        <% } %>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
<%- include('includes/footer');%>
