<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Horários</h1>
        <p class="text-center lead">Os horários do aluno estão abaixo.</p>
        <% if (horarios.length > 0){ %>
        <div class="responsive-table">
          <table class="table" >
            <tr align="center">
              <td>RA</td><td>Estudante</td><td>Disciplina</td><td>Período</td><td>Dia da Semana</td><td>Início</td><td>Fim</td>
            </tr>
            <% horarios.forEach(horario => { %>
            <tr align="center">
              <td><%= ra = horario.ra%></td><td><%= horario.nome_estudante%></td><td><%= horario.nome_disciplina%></td>
              <td><%= horario.periodo_horarios%></td><td><%= horario.dia_semana%></td><td><%= horario.tempo_inicio%>° Tempo</td>
              <td><%= horario.tempo_fim%>° Tempo</td>
            </tr>
            <% }); %>
          </table>
        </div>
        <hr>
          <form action="/administracao/responsavel" method="POST">
            <input type="text" name="ra" value="<%= ra%>" hidden>
            <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
            <input type="text" name="senha" value="<%= senha%>" hidden>
            <button class="btn button btn-danger" style="margin:0">Advertências</button>
          </form>
          <hr>
          <form action="/administracao/paginainicial" method="post">
            <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
            <input type="text" name="senha" value="<%= senha%>" hidden>
            <button class="btn button btn-dark">Voltar</button>
          </form>
        </div>
        <% } else { %>
          <hr>
          <p class="text-center lead">Não existem horários registrados à esse aluno ou insira um aluno válido.</p>
          <hr>
          <form action="/administracao/paginainicial" method="post">
            <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
            <input type="text" name="senha" value="<%= senha%>" hidden>
            <button class="btn button btn-dark">Voltar</button>
          </form>
        <% } %>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
<%- include('includes/footer');%>
