<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 my-3">
        <h1 class="text-center">Registre o Estudante</h1>
        <p class="text-center lead">Formulário para inserção no banco de dados.</p>
        <form action="/cadastro/ocorrenciasalvo" method="POST" ">
          <div class="form-group">
            <input type="text" name="user" value="<%= user%>" hidden>
            
            <label>Nome Assistente</label>
            <input type="text" name="nome_assistente" class="form-input">
            
            <label>Tipo de Ocorrência</label>
            <select name="descricao">
              <option value="Fora de Sala em Horário de Aula">Fora de Sala em Horário de Aula</option>
              <option value="Barulhos e Jogos">Barulhos e Jogos</option>
              <option value="Atitudes Impróprias">Atitudes Impróprias</option>
              <option value="Atos Violentos">Atos Violentos</option>
              <option value="Atos Depredativos">Atos Depredativos</option>
              <option value="Infrações Regimentais">Infrações Regimentais</option>
            </select>
            
            <button type="submit" class="btn button btn-success">Salvar Ocorrência</button>
          </div>
          <hr>
        </form>
        <form action="/administracao/paginainicial method="post">
          <input type="text" name="user" value="<%= user%>" hidden>
          <input type="text" name="senha" value="123456" hidden>
          <button class="btn button btn-dark">Voltar</button>
        </form>
        <hr>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>

<%- include('includes/footer') %>
