<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <hr style="background-color: #fff; margin: 1rem" />
        <h1 class="text-center">Portaria</h1>
        <div class="responsive-table">
          <form action="/administracao/saidaEstudante " method="POST">
            <p class="text-center lead">
              Insira o RA do aluno que deseja verificar:
            </p>
            <input
              type="text"
              class="form-control"
              id="ra"
              name="ra"
              autocomplete="off"
              placeholder="RA"
            />
            <input
              type="text"
              class="form-control"
              id="cpf"
              name="cpf"
              autocomplete="off"
              placeholder="CPF"
              onblur="formataCPF(this)"
            />
            <input
              type="text"
              class="form-control"
              id="nome"
              name="nome"
              autocomplete="off"
              placeholder="NOME COMPLETO"
            />
            <input
              type="text"
              class="form-control"
              name="codigo_servidor"
              value="<%= codigo_servidor%>"
              hidden
            />
            <input
              type="text"
              class="form-control"
              name="senha"
              value="<%= senha%>"
              hidden
            />
            <button class="btn button btn-success small">Ver</button>
          </form>
          <hr style="background-color: #fff; margin: 1rem" />
          <form action="/administracao/login">
            <button class="btn button btn-dark">Voltar</button>
          </form>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
<%- include('includes/footer');%>
