<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <p class="text-center lead bg-danger text-white" style="margin: 0; padding: 10px 0;">
          Responsável
        </p>
        <% if (responsaveis.length > 0){ %>
          <div class="responsive-table">
            <table class="table my-3" color>
              <tr>
                <td>Nome</td>
                <td>Email</td>
                <td>Telefone</td>
              </tr>
              <% responsaveis[0].forEach(responsavel => { %>
                <tr>
                  <td><%= responsavel.nome_responsavel%></td>
                  <td><%= responsavel.email_responsavel%></td>
                  <td><%= responsavel.telefone_responsavel%></td>
                </tr>
              <% }) %>
            <tr><td></td><td></td><td></td></tr>
          </table>
          </div>
          <% }%>
          <% if(ocorrencias.length > 0) {%>
            <p class="text-center lead bg-danger text-white" style="margin: 0; padding: 10px 0;">Ocorrências</p>
            <br>
            <form action="/cadastro/ocorrenciaestudante" method="post">
              <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
              <input type="text" name="senha" value="<%= senha%>" hidden>
              <button class="btn button btn-info small">Registrar Ocorrência</button>
            </form>
            <div class="responsive-table">
              <table class="table my-3">
                <tr>
                  <td>Servidor que Registrou</td>
                  <td>Servido Relacionado</td>
                  <td>Descrição</td>
                  <td>Data da Ocorrência</td>
                  <td>Status</td>
                </tr>
                <% ocorrencias.forEach( ocorrencia => {%>
                  <% if(ocorrencia.status != 'Aprovado'){%>
                  <tr>
                    <td><%= ocorrencia.nome_usuario%></td>
                    <td><%= ocorrencia.nome_usuario_relacionado%></td>
                    <td><%= ocorrencia.descricao_ocorrencia%></td>
                    <td><%= ocorrencia.data_ocorrencia%></td>
                    <td><%= ocorrencia.status%></td>
                  </tr>  
                  <% }%>
                <% })%>
              </table>
            </div>
          <% } else { %>
            <p class="text-center lead bg-danger text-white" style="margin: 0; padding: 10px 0;">
              Ocorrências
            </p>
            <br>
            <form action="/cadastro/ocorrenciaestudante" method="post">
              <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
              <input type="text" name="senha" value="<%= senha%>" hidden>
              <button class="btn button btn-info small">Registrar Ocorrência</button>
            </form>
            <br>
            <p class="text-center lead">Não existem ocorrências nos seus dados.</p>
          <hr />
          <% } %>
          <% if(advertencias.length > 0) {%>
          <p class="text-center lead bg-danger text-white" style="margin: 0; padding: 10px 0;">Advertências</p>
          <br>
          <div class="responsive-table">
            <table class="table my-3" color>
              <tr>
                <td>Relatório</td>
                <td>Data da Advertência</td>
                <td>Enviar</td>
                <td>Ver</td>
              </tr>
              <% advertencias.forEach(advertencia => { %>
                <% id = advertencia.id_ocorrenciasestudantes%>
              <tr>
                <td><%= advertencia.descricao_ocorrencia%></td>
                <td><%= advertencia.data_resolucao%></td>
                <td>
                  <div style="background-color: rgb(245, 250, 252); border-radius: 0.5rem; padding: 0.5rem;">
                    <a 
                    href="mailto:<%= responsaveis[0][0].email_responsavel%>?CC=diren.cg@ifms.edu.br&Subject=Advertencia%20do%20Aluno&Body=<%= advertencia.descricao_ocorrencia%>.">
                      Enviar Advertência ao Responsável
                    </a>
                  </div>
                </td>
                <td>
                  <form action="/administracao/advertencias" method="post">
                    <input type="text" name="id" value="<%= id%>" hidden>
                    <input type="text" name="status" value="Aprovado" hidden>
                    <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
                    <input type="text" name="senha" value="<%= senha%>" hidden>
                    <button class="btn button btn-info">Ver</button>
                  </form>
                </td>
              </tr>
              <% }); %>
              <tr><td></td><td></td><td></td><td></td></tr>
            </table>
          </div>
          <form action="/administracao/horarios" method="post">
            <input type="text" name="ra" value="<%= responsaveis[1]%>" hidden>
            <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
            <button class="btn button btn-dark">Voltar</button>
          </form>
        </div>
        </div>
        <% } else { %>
          <p class="text-center lead bg-danger text-white" style="margin: 0; padding: 10px 0;">
            Advertências
          </p>
          <br>
          <p class="text-center lead">Não existem advertências nos seus dados.</p>
        <hr />
        <form action="/administracao/horarios" method="post">
          <input type="text" name="ra" value="<%= responsaveis[1]%>" hidden>
          <input type="text" name="codigo_servidor" value="<%= codigo_servidor%>" hidden>
          <button class="btn button btn-dark">Voltar</button>
        </form>
        <% } %>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
<%- include('includes/footer') %>
