<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="first_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 my-3">
        <%- include('includes/textCenter')%>
        <br />
        <hr />
        <h4 class="text-center">Salvo com sucesso!</h4>
        <%- include('includes/formBackButton')%>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
<%- include('includes/footer') %>
